[data-testid="stHeader"]{
    display:none;
}

[data-testid="stAppToolbar"],
[data-testid="manage-app-button"]{
    display:none !important;
}

.block-container {
    padding-top: 1rem !important;
}

div[data-baseweb="slider"] div[role="slider"]{
    background-color:#3B9AE1 !important;
}

div[data-baseweb="slider"] div[data-testid="stSliderTickBar"]{
    background-color:#3B9AE1 !important;
}

div[data-baseweb="slider"] div[data-testid="stThumbValue"]{
    background-color:#3B9AE1 !important;
}

div[role="radiogroup"] input[type="radio"]:checked + div{
    border-color:#3B9AE1 !important;
}

div[role="radiogroup"] input[type="radio"]:checked + div > div {
    background-color:#3B9AE1 !important;
}

@media (max-width: 768px) {
    div[data-testid="stMarkdownContainer"] h1 {
        font-size:20px !important;
    }

    div[data-testid="stMarkdownContainer"] h3 {
        font-size:18px !important;
    }
}